body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-image: -webkit-linear-gradient(75deg,  rgb(206, 118, 137)50%, #fce9ef 50%);
    min-height: 1000px;
}

h5{
    color: gray;
    font-size: 0.8rem;
}

.task{
    padding-left: 2.5rem;
}

input[type=checkbox]:checked + label {
    text-decoration: line-through;
  }


.box{
    width: 18%;
    margin: auto;
    text-align: left;
    background-color: rgb(235, 210, 215);
    padding: 1.5rem;
    border-radius: 2rem;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.next{
    border: none;
    background-color: #fce9ef;
}

.next:focus{
    outline: none;
    opacity: 0.7;
}

.right {
    text-align: right;
}